{% extends "base.html" %}
{% load blog_tags %}
{% block html_content %}

        <div class="ui divided items">
        {% for post in post_list %}
          <div class="item">
            <div class="image">
              <img src="https://semantic-ui.com/images/wireframe/image.png">
            </div>
            <div class="content">
              <a class="header" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
              <div class="meta">
                <span class="cinema left">创建时间：{{ post.created_time }}</span>
                <span class="cinema right">最后更新时间：{{ post.modified_time }}</span>
                <span class="cinema right">作者：{{ post.author }}</span>
              </div>
              <div class="description">
                <p>描述：{{ post.excerpt }}</p>
              </div>
              <div class="extra">
                <div class="ui label">AIMX</div>
              </div>
            </div>
          </div>
            {% empty %}
            <div>
            <p>
                没有文章
            </p>
            </div>
        {% endfor %}
        </div>
    {% get_newest_post as npost %}
    {% for post in npost %}
    <h1>{{ post.title }}</h1>
    {% endfor %}
{% endblock %}
