{% extends "base.html" %}
{% load blog_tags %}

{% block menu %}


     <a href="/" class="{% if cate == 'index' %}active {% endif %}item">首页</a>

    <a href="{% url "category" "article" %}" class="{% if cate == 'article' %}active {% endif %}item">文章随笔</a>
    <a href="{% url 'category' 'project' %}" class="{% if cate == 'project' %}active {% endif %}item">个人项目</a>
<a href="/statistics" class="item">网站数据统计</a>
{% endblock %}
{% block html_content %}

        <div class="ui divided items">
        {% for post in post_list %}
          <div class="item">
            <div class="ui small image">
              <img class="ui image" src="{{ post.pic }}">
            </div>
            <div class="content">
              <a class="header" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
              <div class="meta">
                <span class="cinema left">创建时间：{{ post.created_time }}</span>
                <span class="cinema right">最后更新时间：{{ post.modified_time }}</span>
                <span class="cinema right">作者：{{ post.author }}</span>
              </div>
              <div class="description">
                <p>描述：{{ post.excerpt }}</p>
              </div>
              <div class="extra">
                  {% for tag in post.tags.all %}
                <div class="ui label">{{ tag }}</div>

                  {% endfor %}

              </div>
            </div>
          </div>
            {% empty %}
            <div>
            <p>
                没有文章
            </p>
            </div>
        {% endfor %}
        </div>

{% endblock %}
