{% extends "base.html" %}
{% block html_content %}
    <div class="ui two column grid container">
          <div class="column">
            <div class="ui green segment container">
              111
            </div>
          </div>
          <div class="column">
            <div class="ui blue segment container">
              222
            </div>
          </div>
        </div>
        <div class="ui divided items">
          <div class="item">
            <div class="image">
              <img src="https://semantic-ui.com/images/wireframe/image.png">
            </div>
            <div class="content">
              <a class="header">title here</a>
              <div class="meta">
                <span class="cinema">update here</span>
              </div>
              <div class="description">
                <p>something here</p>
              </div>
              <div class="extra">
                <div class="ui label">IMAX</div>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
